<div class="wrapper">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="/img/happy-cat.jpg" alt="Me">
                    <span class="card-title">Catty Birthday!!</span>
                </div>
                <div class="card-content">
                    <p class="flow-text">
                        Lo sé, no te esperabas esto, y aún menos en una app web xD<br><br>
                        Para que veas que no me olvido de nadie. <br><br>

                        <span class="bold">Y mucho menos de la gente increíble.</span> <br><br>

                        Aunque también es verdad que últimamente no he sido <span class="italic">el amigo más hablador del mundo.</span>
                        <br><br>

                        me.apologize(veryMuch) <br><br>

                        Espero que las cosas te estén yendo muy bien y que hoy sea un día que recuerdes con fuerza. <br>
                        <br>
                        (No, por esto evidentemente, si no porque tengas algún plan chulo o algo así xD). <br><br>

                        Espero también que nos podamos ver pronto, que digo yo que ya va siendo hora no? xD <br><br>

                        Bueno, ya no me enrollo más => <span class="bold">Felicidades!</span>(explícitas, que no falten!)
                        <br><br>

                        <span class="italic">Atentamente:</span> <br><br>
                    </p>
                    <div class="image-centered">
                        <img class="me" src="/img/just-me.png" alt="me">
                    </div>
                    <span class="italic">You know who</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Bonus!</span>
                    <p>
                        The cat loader!
                    </p>
                </div>
                <div class="image-centered">
                    <img class="cat" src="/img/cat.gif" alt="">
                </div>
                <br>
                <div class="card-content white-text">(También hay versión en CSS, la pondré por ahí en futuras implementaciones)</div>
            </div>
        </div>
    </div>
</div>